{include file="test/public/header"}

<!-- 页体 -->
<div id="jsParameter" jsTabClass="false" layer="0" class="mdui-container">

    <div class="mdui-p-t-2">
        <div class="mdui-typo-headline-opacity">
            <button class="js-jumpurl-BackUp mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-btn-raised">
                <i class="mdui-icon material-icons">arrow_back</i>
            </button>
            关于
            <div class="mdui-chip">
                <span class="mdui-chip-title">{$searchValue}</span>
            </div> 的合集
        </div>
    </div>

    <!-- 主体组件 -->
    <div id="jsMainComp" class="mdui-m-t-2">

        <div class="mdui-row-xs-2 mdui-row-sm-2 mdui-row-md-3 mdui-row-lg-3">
            <!-- 卡片循环 -->
            {include file="test/public/component-list-cards"}
            <!-- 分享弹窗 -->
            {include file="test/public/component-share"}

        </div>
    </div>

</div>

{include file="test/public/footer"}

<script>
    $(function () {
        //初始化-分页组件
        pager();
        //初始化-Tag组件
        //ViewCardsTag('');
        //初始化-View-搜索
        if (getUrlParam('value')) {
            $('#SearchValue').html('')
        }
    });

    //表单-按钮-搜索
    $('#requestSearch').click(function () {
        jumpUrl('/index/Cards/search?search=true&model=0&value=' + $('#SearchValue').val(), 0);
    });
</script>

</body>

</html>