{include file="public/header"}
<!-- 页体 -->
<div class="mdui-container">

    <!-- 标题组件 -->
    <div class="mdui-row">
        <div class="mdui-col-xs-6">
            <h1 class="mdui-text-color-theme mdui-p-t-2">{$viewTitle}</h1>
        </div>
    </div>

    <!-- 主体组件 -->
    <div class="mdui-table-fluid mdui-m-b-2">
        <table class="mdui-table mdui-typo">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CID</th>
                    <th>订单号</th>
                    <th>封禁状态</th>
                    <th>订单状态</th>
                    <th>实付金额(￥)</th>
                    <th>地址</th>
                    <th>备注</th>
                    <th>服务日期</th>
                    <th>创建日期</th>
                    <th>IP</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {volist name='list' id='data'}
                <tr>
                    <td>{$data.id}</td>
                    <td>{$data.cid}</td>
                    <td>{$data.number}</td>
                    <td value="{$data.ban}">
                        <div class="mdui-chip">
                            {if $data.ban == 'false'}
                            <span class="mdui-chip-title">false</span>
                            {/if}
                            {if $data.ban == 'true'}
                            <span class="mdui-chip-title">true</span>
                            {/if}
                        </div>
                    </td>
                    <td value="{$data.status}">
                        <div class="mdui-chip">
                            {if $data.status == 0}
                            <span class="mdui-chip-title">未受理</span>
                            {/if}
                            {if $data.status == 1}
                            <span class="mdui-chip-title">已受理</span>
                            {/if}
                            {if $data.status == 2}
                            <span class="mdui-chip-title">进行中</span>
                            {/if}
                            {if $data.status == 3}
                            <span class="mdui-chip-title">已完成</span>
                            {/if}
                            {if $data.status == 4}
                            <span class="mdui-chip-title">订单结束</span>
                            {/if}
                        </div>
                    </td>
                    <td>{$data.price}</td>
                    <td>
                        <input class="js-mdui-Tooltip mdui-textfield-input" style="width:unset" type="text"
                            value="{$data.address}" readonly="true" />
                    </td>
                    <td>
                        <input class="js-mdui-Tooltip mdui-textfield-input" style="width:unset" type="text"
                            value="{$data.note}" readonly="true" />
                    </td>
                    <td>{$data.service_date}</td>
                    <td>{$data.creat_date}</td>
                    <td>{$data.ip}</td>
                    <td>
                        <button class="js-Btn-Edit mdui-btn mdui-btn-icon" mdui-dialog="{target: '#dialogedit'}">
                            <i class="mdui-icon material-icons">edit</i>
                        </button>
                        <button class="js-Btn-Delete mdui-btn mdui-btn-icon">
                            <i class="mdui-icon material-icons">delete</i>
                        </button>
                    </td>
                </tr>
                {/volist}
            </tbody>
        </table>
    </div>

    <!-- 弹窗组件 -->
    <div class="mdui-dialog" id="dialogedit">
        <div class="mdui-dialog-title">编辑订单</div>
        <div class="mdui-row mdui-p-x-4">
            <div class="mdui-row">
                <div class="mdui-col-xs-6 mdui-col-md-8">
                    <div class="mdui-textfield">
                        <label class="mdui-textfield-label">实付金额</label>
                        <input class="mdui-textfield-input" id="editOrderDataPrice" type="text" />
                    </div>
                </div>
                <div class="mdui-col-xs-3 mdui-col-md-2">
                    <label class="mdui-textfield-label mdui-m-t-2">封禁状态</label>
                    <select class="mdui-select" id="editOrderDataBan">
                        <option value="false">false</option>
                        <option value="true">true</option>
                    </select>
                </div>
                <div class="mdui-col-xs-3 mdui-col-md-2">
                    <label class="mdui-textfield-label mdui-m-t-2">订单状态</label>
                    <select class="mdui-select" id="editOrderDataStatus">
                        <option value="0">未受理</option>
                        <option value="1">已受理</option>
                        <option value="2">进行中</option>
                        <option value="3">已完成</option>
                        <option value="4">订单结束</option>
                    </select>
                </div>
            </div>
            <div class="mdui-textfield">
                <label class="mdui-textfield-label">上门时间</label>
                <input class="mdui-textfield-input"  id="editOrderDataServiceDate" type="datetime-local" />
            </div>
            <div class="mdui-textfield">
                <label class="mdui-textfield-label">上门地址</label>
                <textarea class="mdui-textfield-input" id="editOrderDataAddres"></textarea>
            </div>
            <div class="mdui-textfield">
                <label class="mdui-textfield-label">上门备注</label>
                <textarea class="mdui-textfield-input" id="editOrderDataNote" rows="4"></textarea>
            </div>
        </div>

        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" id="btnEditOrder" mdui-dialog-close>确定</button>
        </div>
    </div>

    <!-- 分页按钮组件 -->
    <div class="mdui-row mdui-text-center">
        <div style="display: none;">{$list|raw}</div>
        <button id="pageFirst" type="button" class="mdui-btn mdui-color-theme-accent">
            <i class="mdui-icon material-icons ">first_page</i>
        </button>
        <button id="pageLast" type="button" class="mdui-btn mdui-color-theme-accent">
            <i class="mdui-icon material-icons">last_page</i>
        </button>
    </div>

</div>
{include file="public/footer"}

<script>
    $(function (param) {
        //初始化-分页按钮
        pager();

        //按钮-删除
        $('.js-Btn-Delete').click(function () {
            var data = {
                'uuid': $.cookie('uuid'),
                'id': $(this).parent().siblings('td:first').html()
            };
            var result = apiAjax0(data, apiCardsOrderDelete, 'POST');
            if (result) {
                $(this).parent().html("已删除")
                mdui.snackbar({
                    message: '成功删除ID' + data['id'],
                    position: 'left-top'
                });
            }
        });

        //按钮-初始化-编辑
        $('.js-Btn-Edit').click(function () {
            var thisObj = $(this).parent().siblings('td');
            $('#editOrderDataPrice').val(thisObj.eq(5).html());
            $('#editOrderDataAddres').val(thisObj.eq(6).children().val());
            $('#editOrderDataStatus').val(thisObj.eq(4).attr('value'));
            $('#editOrderDataBan').val(thisObj.eq(3).attr('value'));
            $('#editOrderDataNote').val(thisObj.eq(7).children().val());
            $('#editOrderDataServiceDate').val(thisObj.eq(8).html());
            $('#btnEditOrder').val(thisObj.eq(0).html());
        });

        //按钮-请求-编辑
        $('#btnEditOrder').click(function () {
            var data = {
                'uuid': $.cookie('uuid'),
                'id': $('#btnEditOrder').val(),
                'price': $('#editOrderDataPrice').val(),
                'address': $('#editOrderDataAddres').val(),
                'status': $('#editOrderDataStatus').val(),
                'ban': $('#editOrderDataBan').val(),
                'service_date': $('#editOrderDataServiceDate').val(),
                'note': $('#editOrderDataNote').val()
            };
            var result = apiAjax0(data, apiOrderEdit, 'POST');
            if (result) {
                $.cookie('msg', '编辑成功', { path: '/' });
                jumpUrl('', 100);
            }
        });
    })
</script>
</body>

</html>